.nav-top-bar{
  width: 100%;
  background-color: $color-red-cienciano;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  border-top: 1px solid $color-border-menu;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  line-height: 72px;
  flex-wrap: wrap;
}

.nav-list li{
  padding: 0 30px;
  border-right: 1px solid $color-border-menu;
}