.login {
  padding: 1vh 0 1vh 3vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  width: 66%;
}

.nav-list-fan {
  display: flex;
  flex-flow: row;
}

.nav-list-fan li{
  padding: 0 15px 0 15px;
}