@import '../scss/fonts.scss';
@import '../scss/fontsclasses.scss';
@import '../scss/colors.scss';
@import '../scss/font-family.scss';

@import '../scss/header.scss';
@import '../scss/header-logo.scss';
@import '../scss/header-left.scss';

@import '../scss/nav-bar.scss';
@import '../scss/nav-bar-fan.scss';
@import '../scss/social-bar.scss';
@import '../scss/social-bar-follow.scss';

@import '../scss/accordion.scss';
@import '../scss/sponsor-club.scss';
@import '../scss/calendar-games.scss';
@import '../scss/list-results.scss';
@import '../scss/show-one-result.scss';
@import '../scss/slider-horizontal';

body {
  background-color: $color-red-cienciano;
}


/*
.nav-menu {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: start;
  padding: 0;
}

.ul-menu {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 5;
}
*/